/* Custom Stylesheet */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -70px; /* the bottom margin is the negative value of the footer's height */
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer, .push {
  margin: 0;
  height: 70px;
}

a.sitename:link {
    color: white;
}

a.sitename:hover {
	color: white;
	text-decoration: underline;	
}

.copywrite-text {
	color: white;
	font-weight: bold;
	font-family: courier;
	font-size: 18pt;
}

.gsc-control-cse-en {
	height: 0px;
	box-sizing: border-box;
	clear:both;	
}

.search-overlay {
	height: 0px;
	box-sizing: border-box;	
	clear:both;
}

.search {
}