		<div class="row">
		  <div class="col s12">
			<h4 class="blue-text" align="center">{{.Title}}</h4>
		  </div>
		</div>
		
		<div class="row no-margin blue-text">
		{{ range $index, $page := .Data.Pages.ByTitle  }}
		  {{ if and (modBool $index 4) (ne $index 0) }}
		</div>
		<div class="row no-margin blue-text">
		  {{end}}
		  <!--<div class="col s12 m6 l3 collection no-margin" align="center" style="padding: 0px">-->
		  <div class="col s12 m6 l3 recipe-grid course-list valign-wrapper">
			    <span class="flat-text small-flow-text recipe-grid-item truncate">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                </span>
		  </div>
	  {{ end }}				
		</div>
